body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/5-dots.png")
}

main, nav, h1 {
    margin: 0 auto;
    max-width: 800px;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    background: black;
    padding: 12px 0px;
    margin-bottom: 40px;
    border-bottom: 5px solid white;
}

main {
    display: flex;
    gap: 50px;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: baseline;
}

footer{
    margin-top: auto;
    padding-bottom: 5px;
    text-align: center;
    background: black;
    padding: 15px 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: yellow;
    border-top: 5px solid white;
}

h1 {
    background-color: yellow;
    color:  black;
    padding: 10px;
    border-radius: 4px;
}

nav {
    display: flex;
    gap: 30px;
   
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    background: yellow;
    padding: 10px 20px;
    border-radius: 4px;
}

article {
    max-width: 500px;
    line-height: 150%;
    background: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    border-radius: 4px;
}

article > h2 {
    border-bottom: 2px solid black;
}

#picture1 {
    float: left;
    margin-right: 10px;

}

#social {
    background: white;
    padding: 10px;
    border-radius: 4px;

}

#social > h2 {
    border-bottom: 2px solid black;
    font-size: 20px;
}

#social > a {
    text-decoration: none;
}
